<div>
    <button (click)="checkPermissions()">Check the webcam permissions</button>
    <p *ngIf="status">Status here: {{status}}</p>
</div>
<div class="webcam-container">

<div *ngIf="stream" class="circle">
     <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam>
     <button (click)="captureImage()" >{{btnLabel}}</button>
</div>

<div *ngIf="previewImage" class="proceed">
    <img [src]="previewImage" height="250" width="250">
    <button (click)="proceed()">Proceed</button>
</div>
</div>
